* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline; }

html {
  font-family: 'Proxima Nova', sans-serif; }

body {
  width: 100%;
  background-image: url(../images/BG_01.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid yellow; }
  body .wrapper {
    width: 90%;
    margin: 0 auto; }
    body .wrapper .clearfix::after {
      content: "";
      clear: both;
      display: table; }
  body h1 {
    color: white;
    font-size: 48px; }
  body p {
    color: white;
    font-size: 16px; }
  body ul {
    list-style: none;
    margin-top: 30px; }
  body li {
    color: white;
    font-size: 16px;
    margin-bottom: 20px; }

nav {
  height: 100px;
  line-height: 100px; }

nav a {
  color: white;
  text-decoration: none; }

nav a img {
  vertical-align: middle; }

nav a:nth-child(2) {
  float: right; }

header {
  margin: 100px 0 200px 0;
  text-align: center; }

header p {
  width: 45%;
  margin: 30px auto 0 auto; }

header a {
  color: #FF4A5E;
  text-decoration: none; }

.face-lockup {
  max-width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-align: center;
  -ms-flex-pack: center; }
  .face-lockup .face-img {
    height: 250px;
    width: 250px;
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
    background: url(../about-img/face-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%; }
  .face-lockup [class^="icon-"] {
    height: 120px;
    width: 120px;
    background: #e5eaee;
    border-radius: 50%; }
    .face-lockup [class^="icon-"] img {
      margin: 25%; }
    .face-lockup [class^="icon-"].icon-server {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
    .face-lockup [class^="icon-"].icon-network {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; }
    .face-lockup [class^="icon-"].icon-troubleshoot {
      -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
      order: 5; }
    .face-lockup [class^="icon-"].icon-coding {
      -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
      order: 6; }

.skill-lockup {
  max-width: 700px;
  margin: 270px auto;
  color: #999;
  padding-left: 200px; }
  .skill-lockup .skill-unit {
    width: 350px;
    float: left; }
  .skill-lockup .skill-icons {
    margin-bottom: 30px; }
    .skill-lockup .skill-icons span {
      display: inline-block;
      height: 14px;
      width: 14px;
      background-color: orange;
      margin-right: 5px; }
      .skill-lockup .skill-icons span:after {
        content: '';
        display: block;
        height: 10px;
        width: 10px;
        background: #fff;
        margin: 2px; }
    .skill-lockup .skill-icons.skill-1 span:nth-child(n+1) {
      background: gray; }
    .skill-lockup .skill-icons.skill-2 span:nth-child(n+2) {
      background: gray; }
    .skill-lockup .skill-icons.skill-3 span:nth-child(n+3) {
      background: gray; }
    .skill-lockup .skill-icons.skill-4 span:nth-child(n+4) {
      background: gray; }
    .skill-lockup .skill-icons.skill-5 span:nth-child(n+5) {
      background: gray; }
    .skill-lockup .skill-icons.skill-6 span:nth-child(n+6) {
      background: gray; }
    .skill-lockup .skill-icons.skill-7 span:nth-child(n+7) {
      background: gray; }
    .skill-lockup .skill-icons.skill-8 span:nth-child(n+8) {
      background: gray; }
    .skill-lockup .skill-icons.skill-9 span:nth-child(n+9) {
      background: gray; }
    .skill-lockup .skill-icons.skill-10 span:nth-child(n+10) {
      background: gray; }

.whatIDo {
  text-align: center;
  margin: 700px 0 200px 0;
  position: relative; }

.whatIDo h1 {
  color: #13A3FD; }

.iAm {
  color: #25272C;
  font-size: 150px;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  z-index: -1;
  top: -20px; }

.work2 {
  width: 100%;
  text-align: center; }

.work2 a img {
  margin: 1%;
  widht: 92%; }

footer {
  text-align: center;
  margin: 60px 0; }

footer p {
  color: #404348; }

@media only screen and (max-width: 990px) {
  body {
    width: 200%; }
  header p {
    width: 100%; }
  .face-lockup {
    display: block;
    text-align: center;
    margin-top: -150px; }
    .face-lockup div {
      display: inline-block; }
    .face-lockup .face-img {
      visibility: hidden;
      display: block;
      background-position: center center;
      background-repeat: no-repeat;
      width: auto; }
  .skill-lockup {
    padding-left: 230px; }
  .whatIDo {
    padding-top: 200px; }
    .whatIDo .iAm {
      padding-top: 200px; }
  .work2 a img {
    margin: 2%;
    width: 96%; } }

@media only screen and (max-width: 768px) {
  body {
    width: 100%; }
  header p {
    width: 100%; }
  .face-lockup {
    display: block;
    text-align: center;
    margin-top: -150px; }
    .face-lockup div {
      display: inline-block; }
    .face-lockup .face-img {
      visibility: hidden;
      display: block;
      background-position: center center;
      background-repeat: no-repeat;
      width: auto; }
  .skill-lockup {
    padding-left: 250px; }
  .whatIDo {
    padding-top: 200px; }
    .whatIDo .iAm {
      padding-top: 200px; }
  .work2 a img {
    margin: 2%;
    width: 96%; } }
