doctype html

html(lang en)
head
	title Portfolio
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width", initial-scale="1")
	link(rel="stylesheet", type="text/css" href="css/main.css")
	link(rel="stylesheet", type="text/css" href="fonts/fonts.css")

body
	.wrapper
		nav.clcearfix
			a(href='#') Christian
			a(href='https://www.linkedin.com/in/christian-joseph-cunanan-859b4813a/')
				img(src='icons/in.png' alt='linked in icon')

		header
			h1 UI Design + Front End + Server Management
			p Front-end Developer for over 2 years on the bright side and System Administrator for over 3 years on the dark side. Happy to work with you just send me an <a href="#">email</a>.

		.face-lockup
			.face-img
			.icon-server 
				img(src="about-icons/server.png")
			.icon-network 
				img(src="about-icons/networking.png")
			.icon-troubleshoot 
				img(src="about-icons/screwdriver.png")
			.icon-coding
				img(src="about-icons/programming.png")

		.skill-lockup
			.skill-unit
				.skill-label Technical Competency
				.skill-icons.skill-9
					span
					span
					span
					span
					span
					span
					span
					span
					span
					span
		.skill-lockup
			.skill-unit
				.skill-label Work Ethic
				.skill-icons.skill-9
					span
					span
					span
					span
					span
					span
					span
					span
					span
					span

		.skill-lockup
			.skill-unit
				.skill-label Determination & Persistence
				.skill-icons.skill-9
					span
					span
					span
					span
					span
					span
					span
					span
					span
					span

		.skill-lockup
			.skill-unit
				.skill-label Communication
				.skill-icons.skill-9
					span
					span
					span
					span
					span
					span
					span
					span
					span
					span

		.skill-lockup
			.skill-unit
				.skill-label Multi Tasking
				.skill-icons.skill-9
					span
					span
					span
					span
					span
					span
					span
					span
					span
					span

		.skill-lockup
			.skill-unit
				.skill-label Flexibility
				.skill-icons.skill-8
					span
					span
					span
					span
					span
					span
					span
					span
					span
					span

		.skill-lockup
			.skill-unit
				.skill-label Planning
				.skill-icons.skill-8
					span
					span
					span
					span
					span
					span
					span
					span
					span
					span

		.skill-lockup
			.skill-unit
				.skill-label Learning
				.skill-icons.skill-9
					span
					span
					span
					span
					span
					span
					span
					span
					span
					span


		.whatIDo
			h1 Everything <br> You Need
			h2.iAm I AM
			ul
				li User Interface Design
				li User Experience Design
				li Front-end Development
				li Interaction Design
				li Graphic Design
				li Visual Design

		.work2
			a(href='#')
				img(src='images/gcg.png' alt='project image')
			a(href='#')
				img(src='images/gemslake.png' alt='project image')
			a(href='#')
				img(src='images/heralo.png' alt='project image')
			a(href='#')
				img(src='images/thane.png' alt='project image')


		footer
			p © 2018 Christian Cunanan