doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title Portfolio
		meta(name="viewport", content="width=device-width", initial-scale="1")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway|Roboto")

	body

		section#sidebar
			input#sidebartoggler(type='checkbox', name='', value='')
			.page-wrap
				label.toggle(for='sidebartoggler') ☰
				.page-content
					header#home
						.banner
							.titleholder
								.title1
									p Christian
								.title2
									p Cunanan
								.addr
									p Dar Al Salam Bldg, Salahuddin Rd. UAE
								.cno
									p +971503192958

							.kick-wrapper
								.kicker
									a(href="#about")
										img(src="images/down.png")
					
					section#about
						h3 Christian Cunanan

						.face-lockup
							.face-img
							.icon-server 
								img(src="about-icons/server.png")
							.icon-network 
								img(src="about-icons/networking.png")
							.icon-troubleshoot 
								img(src="about-icons/screwdriver.png")
							.icon-coding
								img(src="about-icons/programming.png")
						br
						br
						br
						.par-cont
							p To obtain a position in an ethically sound company that provides the opportunity to apply a combination of information technology skills and simultaneously contribute to the company’s achievement over the run-through of my capabilities from previous professions.
						
						.skill-lockup
							.skill-unit
								.skill-label Troubleshooting
								.skill-icons.skill-11
									span
									span
									span
									span
									span
									span
									span
									span
									span
									span
						.skill-lockup
							.skill-unit
								.skill-label Networking
								.skill-icons.skill-8
									span
									span
									span
									span
									span
									span
									span
									span
									span
									span

						.skill-lockup
							.skill-unit
								.skill-label Server Management
								.skill-icons.skill-9
									span
									span
									span
									span
									span
									span
									span
									span
									span
									span

						.skill-lockup
							.skill-unit
								.skill-label UX Design
								.skill-icons.skill-8
									span
									span
									span
									span
									span
									span
									span
									span
									span
									span

						.skill-lockup
							.skill-unit
								.skill-label Programming
								.skill-icons.skill-7
									span
									span
									span
									span
									span
									span
									span
									span
									span
									span

						.skill-lockup
							.skill-unit
								.skill-label Communication
								.skill-icons.skill-11
									span
									span
									span
									span
									span
									span
									span
									span
									span
									span

						.skill-lockup
							.skill-unit
								.skill-label Planning
								.skill-icons.skill-9
									span
									span
									span
									span
									span
									span
									span
									span
									span
									span

						.skill-lockup
							.skill-unit
								.skill-label Learning
								.skill-icons.skill-10
									span
									span
									span
									span
									span
									span
									span
									span
									span
									span

					section.work#work
						h3 Projects

						.site-placeholder
							a.thumb-unit(href="http://www.thaneinvest.com" style="background-image: url(work-images/thane.png)")
								.thumb-overlay-thane
									strong Thane Invest

							a.thumb-unit(href="http://www.heralofoundation.com" style="background-image: url(work-images/heralo.png)")
								.thumb-overlay-heralo
									strong Heralo Foundation

							a.thumb-unit(href="http://www.gemslake.com" style="background-image: url(work-images/gemslake.png)")
								.thumb-overlay-gemslake
									strong Gemslake


					section.clients#clients
						h3 Clients

						.client-controls
							.client-control-next
								img(src="clients-logo/icon-arrow-right.png")
							.client-control-prev
								img(src="clients-logo/icon-arrow-left.png")

						.clients-belt
							.client-unit.active-client
								.client-face
									img(src="clients-img/face-aaroni.jpg" alt="client-face")
									.client-name
										strong Paul Mckenzie
									.client-title
										em COO Brainstorm Consulting FZE
								.client-content
									.client-quote-mark
										img(src="clients-logo/icon-quote-mark.png")
									p At Brainstorm Consulting, confidence is our main value... We provide optimum quality of consulting services in various fields

							.client-unit
								.client-face
									img(src="clients-img/face-atariboy.jpg" alt="client-face")
									.client-name
										strong Benjie White
									.client-title
										em COO Makawe Trading FZE
								.client-content
									.client-quote-mark
										img(src="clients-logo/icon-quote-mark.png")
									p Our commitment to the success of our customers in our industrial field, and the development of our employees, will create a very fruitful environmentfor our business and our business partners

							.client-unit
								.client-face
									img(src="clients-img/face-jackiesaik.jpg" alt="client-face")
									.client-name
										strong Marie Lozada
									.client-title
										em Secretary Gemslake FZE
								.client-content
									.client-quote-mark
										img(src="clients-logo/icon-quote-mark.png")
									p An investment company that aspires to grow, expand and develop by taking risks and	opportunities in various types of investments, trading and manufacturing practices worldwide. 

							.client-unit
								.client-face
									img(src="clients-img/face-teleject.jpg" alt="client-face")
									.client-name
										strong Joseph De Guzman
									.client-title
										em PM Heralo Foundation
								.client-content
									.client-quote-mark
										img(src="clients-logo/icon-quote-mark.png")
									p The HERALO Foundation is an active and non financial company, and unfolded a network in different industries and grow it's business and investments sucessful.

				.sidebar
					ul(style="list-style: none;")
						li
							a(href="#home").hvr-ripple-out  Home
						li
							a(href="#about").hvr-ripple-out About
						li
							a(href="#work").hvr-ripple-out Projects
						li
							a(href="#clients").hvr-ripple-out Clients

					hr

					.link-placeholder
						.fb
							a(href="https://www.facebook.com/iiiiiChan")
								img(src="link-icons/fb.png")

						.ig
							a(href="https://www.instagram.com/wiichanfaps/")
								img(src="link-icons/ig.png")
						.in
							a(href="https://www.linkedin.com/in/christian-joseph-cunanan-859b4813a/")
								img(src="link-icons/in.png")

					.subscribe
						form.form-inline(role='form', action='mail.php', method='post')
							.form-group
								label.sr-only(for='subscribe-email') Email address
								input#subscribe-email.subscribe-email.form-control(type='text', name='email', placeholder='Enter your email...')
								button.btn(type='submit') Subscribe
						.success-message
						.error-message

	script(src="js/jquery-2.1.3.min.js")
	script(src="js/functions.js")
