.face-lockup
  max-width: 1200px
  +display(flex)
  margin: 0 auto
  +align-items(center)
  +justify-content(space-around)


  .face-img
    +size(250px)
    order: 5
    background: url(../about-img/face-img.jpg)
    background-repeat: no-repeat
    background-size: cover
    border-radius: 50%


  [class^="icon-"]
    +size(120px)
    background: #e5eaee 
    border-radius: 50%

    img
      margin: 25%

    &.icon-server
      order: 1

    &.icon-network
      order: 2

    &.icon-troubleshoot
      order: 5

    &.icon-coding
      order: 6


.skill-lockup
  max-width: 700px
  margin: 270px auto
  color: #999
  padding-left: 200px


  .skill-unit
    width: 350px
    float: left

  .skill-icons
    margin-bottom: 30px

    span 
      display: inline-block
      +size(14px)
      background-color: orange
      margin-right: 5px

      &:after
        content: ''
        display: block
        +size(10px)
        background: #fff
        margin: 2px

    @for $i from 1 through 10
      &.skill-#{$i} span:nth-child(n+#{$i})
        background: gray




